{% extends 'shop/basic.html' %}

{% block title %}
AboutUs
{% endblock %}

{% block body %}

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">My Awesome Cart</h1>
        <p class="lead text-muted">My Awesome Cart was founded in October 2007 by ABC, alumni of the IIT, Delhi and former Amazon employees.[10][11][12] The company initially focused on online book sales with country-wide shipping. It slowly grew in prominence and was receiving 100 orders per day by 2008.[13] In 2010, It acquired the Bangalore-based social book discovery service WeRead from Lulu.com.[14]</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Learn more ></a>

        </p>
      </div>
    </div>



{% endblock %}